
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.main{
    width:60%;
}

.table-container{
    margin-bottom: 20px;
}
.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

